<div id="header">
	<div id="banner">
	BANNER
	</div>
	<div id="menu">
	przycisk1 | przycisk2 | przycisk3
	</div>
</div>
<div id=center>
	<div id="content">
	<% yield %>
	</div>
	<div id ="footer">
	Footer
	</div>
</div>