$bannerBackground: #FFF;
$footerBackground: #333;
$contentBackground: #FFF;
$textColor: #000;
$menuButtonsColor: #000;

$contentWidth: 600px;
$bannerHeight: 80px;
$bannerWidth: 200px;
$menuHeight: 20px;

$loginPanelHeight: 25px;
$loginPanelWidth: 230px;
$loginPanelTabWidth: 10px;

body {
	background: $footerBackground;
	color: $textColor;
	margin: 0;
}

#background {
	background: $contentBackground;
}

#center {
	width: $contentWidth;
	margin: auto;
	padding: $bannerHeight+$menuHeight;
}

footer {
	background: $footerBackground;
	color: #FFF;
	text-align: center;
	padding-top: 5px;
}

header {
	background: $bannerBackground;
	text-align: center;
	position: fixed;
	width: 100%;
}

#banner {
	margin: 15px auto 10px;
	width: $bannerWidth;
}

#banner a:hover {
	background: $bannerBackground;
}

nav {
	color: $menuButtonsColor;
	height: $menuHeight;
	border-bottom: #AAA dotted 1px;
}

nav a:visited {
	color: #F00;
}

footer a:visited {
	color: #F00;
}

#login {
	width: $loginPanelWidth - $loginPanelTabWidth;
	height: $loginPanelHeight;
	background: $bannerBackground;
	position: fixed;
	padding-left: $loginPanelTabWidth;
	top: $bannerHeight + $menuHeight;
	right: $loginPanelTabWidth - $loginPanelWidth - 1px;
	border: #AAA dotted 1px;
}

#login:hover {
	right: 0px;
	-webkit-transition: right .5s ease;
}

#login input {
	width: 50px;
	background: $contentBackground;
}

a:link {
	color: #F00;
	text-decoration: none;
}
a:hover {
	background: #000;
	text-decoration: none;
}
a:visited {
	color: #900;
	text-decoration: none;
}