$bannerBackground: #CCC;
$footerBackground: #DDD;
$contentBackground: #EEE;
$textColor: #000;
$menuButtonsColor: #345;

$contentWidth: 600px;
$bannerHeight: 50px;
$menuHeight: 20px;

$loginPanelHeight: 25px;
$loginPanelWidth: 450px;
$loginPanelTabWidth: 10px;

body {
	background: $contentBackground;
	color: $textColor;
	margin: 0;
}

#center {
	width: $contentWidth;
	margin: auto;
	padding: $bannerHeight+$menuHeight;
}

footer {
	background: $footerBackground;
}

header {
	background: $bannerBackground;
	text-align: center;
	position: fixed;
	width: 100%;
}

#banner {
	font-size: 50px;
	height: $bannerHeight;
}

nav {
	color: $menuButtonsColor;
	height: $menuHeight;
}

#login {
	width: $loginPanelWidth - $loginPanelTabWidth;
	height: $loginPanelHeight;
	background: $bannerBackground;
	position: fixed;
	padding-left: $loginPanelTabWidth;
	top: $bannerHeight + $menuHeight;
	right: $loginPanelTabWidth - $loginPanelWidth;
}

#login:hover {
	right: 0px;
	-webkit-transition: right 1s ease;
}