h2 {
	margin: 10px;
}

.body {
	border-bottom: #AAA dotted 1px;
	border-top: #AAA dotted 1px;
	margin: 20px 0px;
	padding: 5px 20px 10px;
}

.date {
	width: 100%;
	font-size: 75%;
	text-align: right;
}